*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

/* DIVS */

#topo{
    background-color: #2f7dc2;
    height: 75px;
}

#corpo{
    height: 800px;
    background-color: #325b80;
    text-align: center;
}

#rodape{
    height: 95px;
    background-color: #4c78a1;
}

#celsius , #fah{
    background-color: white;
    display: inline-block;
    padding-right: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 10px;
    width: 500px;
    height: 350px;
    border-radius: 25px;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#kel{
    background-color: white;
    padding-right: 10px;
    margin-top: 15px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 350px;
    border-radius: 25px;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

/* INPUTS */

.valor , .conta{

    padding-top: 5px;
    border-radius: 10px;
}

/* BUTTON */

.btn{

    margin-top: 5px;
    padding: 10px;  
    border-radius: 5px;
}

/* TEXT */

h1{
    color:white;
    text-align: center;
    font-size: 22px;
    padding-top: 30px;
}

p{
    padding-top: 45px;
}

.p1{
    text-align: center;
    padding-top: 15px;
    color: white;
}

/* MEDIA QUERY */

   /* MAX-640px*/

@media screen and (max-width: 640px) {
    
    #celsius , #fah, #kel{
        
        width: 250px;
        height: 390px;
        
    }
    
    #corpo{

        height: 1330px;
    }

}
